<md-radio-group style="background-color:white;" ng-model="$ctrl.selectedIndex" ng-change="$ctrl.selectedIndex($index)" layout="row" layout-wrap>
  <md-radio-button ng-repeat="tab in $ctrl.searchScopes" value="{{$index}}" class="md-primary" aria-label="{{'tabbedmenu.' + tab + '.label' | translate}}">
    <span translate="tabbedmenu.{{tab}}.label"></span>
  </md-radio-button>
</md-radio-group>
