<div layout="column" layout-fill tabindex="-1" role="search" ng-class="{'zero-padding': $ctrl.showTabsAndScopesVal()}">
	<div class="search-wrapper dark-toolbar prm-top-bar-container main-header-row" div layout="row" ng-class="{'facet-to-left': $ctrl.facetToLeft && !$ctrl.mediaQueries.xs && !$ctrl.mediaQueries.sm && !$ctrl.mediaQueries.md}">
		<div flex="0" flex-md="0" flex-lg="10" flex-xl="20" ng-class="{'facet-to-left-spacer': $ctrl.facetToLeft && !$ctrl.mediaQueries.xl && !$ctrl.mediaQueries.md && !$ctrl.mediaQueries.sm && !$ctrl.mediaQueries.xs, 'flex-xl-25': $ctrl.facetToLeft}"></div>
		<div class="search-elements-wrapper" layout="column" flex flex-sm="85" flex-md="75" flex-lg="65" flex-xl="50" ng-class="(!$ctrl.advancedSearch ?'simple-mode' : 'advanced-mode')  + ' ' + ($ctrl.mainSearchField ? 'has-input' : '') + ' ' + ($ctrl.mediaQueries.lgPlus ? 'flex-lgPlus-55' : '') + ' ' + ($ctrl.facetToLeft? 'facet-to-left-search-bar' : '')">
			<div class="simple-search-wrapper layout-full-width" ng-hide="$ctrl.advancedSearch">
				<!-- add code here -->
				<cam-tabs selected-scope="$ctrl.scopeField" selected-tab="$ctrl.selectedTab"></cam-tabs>
				<!-- add code here -->
				<form class="layout-full-height" layout="column" name="search-form" ng-submit="$ctrl.onSubmit()">
					<input type="submit" class="accessible-only" tabindex="-1" aria-hidden="true"/>
					<div class="layout-full-width">
						<div class="search-element-inner layout-full-width">
							<div class="search-input">
								<prm-autocomplete class="search-input-container EXLPRMHeaderAutoComplete" md-input-id="searchBar" md-search-text="$ctrl.mainSearchField" md-search-text-change="$ctrl.autocompleteQuery($ctrl.mainSearchField)" md-selected-item="$ctrl.selectedItem" md-selected-item-change="$ctrl.onSelectItem()" md-item-text="item.display || $ctrl.typedQuery " md-min-length="2" md-autofocus="false" md-no-cache="true" md-items="item in $ctrl.autoCompleteItems" md-item-text="item" placeholder="{{$ctrl.placeHolderText}}" clear="{{$ctrl.clearButtonText}}" flex>
									<md-item-template>
										<div ng-if="item.tab">
											<span md-highlight-text="$ctrl.mainSearchField">{{$ctrl.mainSearchField}}</span>
											<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="magnifying-glass"></prm-icon>
											<span class="suggestion-scope" translate="{{'tabbedmenu.'+item.tab+'.label'}}"></span>
										</div>
										<div ng-if="!item.tab" md-highlight-text="$ctrl.mainSearchField">{{item.shortDisplay}}</div>
									</md-item-template>
								</prm-autocomplete>
							</div>
							<div class="search-options" ng-class="{'flex-sm-0 flex-0 hide-on-xs':!$ctrl.showTabsAndScopesVal(), 'flex-sm-40 visible':$ctrl.showTabsAndScopesVal()}">
								<prm-tabs-and-scopes-selector ng-if="$ctrl.showTabsAndScopesVal()" [(selected-scope)]="$ctrl.scopeField" [(selected-tab)]="$ctrl.selectedTab" ng-class="{'is-displayed':$ctrl.showTabsAndScopesVal()}" (update-find-in-db-event)="$ctrl.updateShowFindDBButton($event)" (change-tab-event)="$ctrl.onChangeTabEvent($event)"></prm-tabs-and-scopes-selector>
							</div>
							<div class="search-actions" ng-if="::(!$ctrl.scopesDialerConfiguration.display)" layout-align-xs="start center">
								<md-button class="zero-margin md-icon-button" ng-if="!$ctrl.advancedSearch" ng-click="$ctrl.switchAdvancedSearch()" hide-gt-xs>
									<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="tune"></prm-icon>
								</md-button>
								<md-button class="zero-margin button-confirm" aria-label="{{$ctrl.getSubmitAriaLabelCode() | translate}}" (click)="$ctrl.onSubmit()">
									<prm-icon icon-type="{{::$ctrl.searchBoxIcons.searchTextBox.type}}" svg-icon-set="{{::$ctrl.searchBoxIcons.searchTextBox.iconSet}}" icon-definition="{{::$ctrl.searchBoxIcons.searchTextBox.icon}}"></prm-icon>
								</md-button>
							</div>
						</div>
					</div>
        			<div ng-if="$ctrl.isShowFindDBButton || $ctrl.isPreFilterEnable" class="search-extras layout-full-width">
        				<div layout="row" class="pre-filters-container">
        					<prm-pre-filters ng-if="$ctrl.isPreFilterEnable" [(selected-tab)]="$ctrl.selectedTab" [pre-filters]="$ctrl.pFilters" (search-event)="$ctrl.search($event)" flex="" class="ng-scope ng-isolate-scope flex"></prm-pre-filters>
        					<span flex ng-if="!$ctrl.isPreFilterEnable"></span>
        					<md-button ng-if="$ctrl.isShowFindDBButton" class="button-with-icon" ng-class="{'button-over-dark': !$ctrl.advancedSearch}" (click)="::$ctrl.openFdbIframe();" translate-attr-title="mainmenu.label.moreoptions" aria-label="{{::('finddb.sb.title' | translate)}}">
        						<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="database"></prm-icon>
        						<span translate="finddb.sb.title"></span>
        					</md-button>
        				</div>
        			</div>
				</form>
			</div>
			<div class="advanced-search-wrapper layout-full-width" layout="row" ng-if="$ctrl.advancedSearch" ng-cloak>
				<prm-advanced-search tabindex="0" id="advanced-search" [(selected-scope)]="$ctrl.scopeField" [(selected-tab)]="$ctrl.selectedTab" [(show-tab-and-scopes)]="$ctrl.showTabsAndScopes" [(typed-query)]="$ctrl.mainSearchField" (update-find-in-db-event)="$ctrl.updateShowFindDBButton($event)"></prm-advanced-search>
				<md-button class="switch-to-simple zero-margin md-icon-button" ng-if="$ctrl.advancedSearch" ng-click="$ctrl.switchAdvancedSearch()" hide-gt-xs>
					<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="close"></prm-icon>
				</md-button>
			</div>
		</div>
		<div class="search-switch-buttons" layout-sm="column" layout-align-sm="start stretch" hide-xs ng-class="{'facet-to-left-advanced-search': $ctrl.facetToLeft}">
			<md-button aria-label="{{'nui.aria.searchBar.advancedLink' | translate}}" class="switch-to-advanced zero-margin button-with-icon" ng-if="!$ctrl.advancedSearch" ng-click="$ctrl.switchAdvancedSearch()">
				<span layout="row" layout-align="start center">
					<span translate="label.advanced_search"></span>
				</span>
			</md-button>
			<md-button class="switch-to-simple zero-margin button-with-icon" ng-if="$ctrl.advancedSearch" ng-click="$ctrl.switchAdvancedSearch()">
				<span layout="row" layout-align="start center">
					<span translate="label.simple_search"></span>
				</span>
			</md-button>
			<!-- add code here -->
			<cam-browse-button class="switch-to-advanced zero-margin button-with-icon"></cam-browse-button>
			<!-- add code here -->
		</div>
		<div flex="0" flex-md="0" flex-sm="0" flex-lg="15" flex-xl="15" ng-class="{'flex-lgPlus-10': $ctrl.facetToLeft && !$ctrl.mediaQueries.xs}"></div>
	</div>
	<div layout="row" ng-if="!$ctrl.advancedSearch && $ctrl.showSignIn">
		<div flex="0" flex-md="0" flex-lg="15" flex-xl="20"></div>
		<prm-alert-bar flex [alert-object]="$ctrl.signInAlert"></prm-alert-bar>
		<div class="padding-left-medium" flex="0" flex-md="25" flex-lg="10" flex-xl="15" hide-xs></div>
		<div flex="0" flex-md="0" flex-sm="10" flex-lg="20" flex-xl="20"></div>
	</div>
</div>
<div class="advanced-search-backdrop" ng-class="{'visible': $ctrl.advancedSearch}"></div>
<prm-search-bar-after parent-ctrl="$ctrl"></prm-search-bar-after>
